In [44]:
#import dependencies
import pandas as pd
from datetime import datetime

In [45]:
#call up tsa data
tsa_data="Resources/tsa_data.csv"
tsa = pd.read_csv(tsa_data)
#change date formatting for consistency
tsa['Date']=pd.to_datetime(tsa['Date'].astype(str), format='%m/%d/%Y')
tsa.head()

        Date Total Traveler Throughput 2020 Total Traveler Throughput 2019
0 2020-03-01                      2,280,522                      2,301,439
1 2020-03-02                      2,089,641                      2,257,920
2 2020-03-03                      1,736,393                      1,979,558
3 2020-03-04                      1,877,401                      2,143,619
4 2020-03-05                      2,130,015                      2,402,692

In [46]:
#prepare tsa file for merge with NYT data

passenger_numbers_2020 = tsa.loc[:,["Date","Total Traveler Throughput 2020"]]

#change date to number string
passenger_numbers_2020 = passenger_numbers_2020.replace('/','', regex=True)
passenger_numbers_2020.head()

        Date Total Traveler Throughput 2020
0 2020-03-01                      2,280,522
1 2020-03-02                      2,089,641
2 2020-03-03                      1,736,393
3 2020-03-04                      1,877,401
4 2020-03-05                      2,130,015

In [47]:
#load and setup NYT data into dataframe
nyt_data="Resources/covid_19_state_level_data.csv"
nyt = pd.read_csv(nyt_data)

In [48]:
#edit nyt data to only include relevant info
curated_nyt = nyt.loc[:,["date","state","cases"]]
curated_nyt.head()

         date       state  cases
0  2020-01-21  Washington      1
1  2020-01-22  Washington      1
2  2020-01-23  Washington      1
3  2020-01-24    Illinois      1
4  2020-01-24  Washington      1

In [49]:
airport_data = "Resources/covid_impact_on_airport_traffic.csv"
airport = pd.read_csv(airport_data)
airport.head()

,AggregationMethod,Date,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
0,Daily,2020-07-05,1.0,Kingsford Smith,52,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
1,Daily,2020-05-28,1.0,Kingsford Smith,61,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2,Daily,2020-05-07,1.0,Kingsford Smith,62,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
3,Daily,2020-06-24,1.0,Kingsford Smith,58,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
4,Daily,2020-08-05,1.0,Kingsford Smith,20,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."

In [50]:
#remove not relevant columns from airport data
us_airport_data = airport[airport["Country"]=="United States of America (the)"]
us_airport_data.head()

,AggregationMethod,Date,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
2294,Daily,2020-05-06,1.0,Los Angeles International,66,POINT(-118.404993180627 33.941369379328),Los Angeles,California,US-CA,United States of America (the),"POLYGON((-118.439612388611 33.9517616366508, -..."
2295,Daily,2020-07-04,1.0,Los Angeles International,36,POINT(-118.404993180627 33.941369379328),Los Angeles,California,US-CA,United States of America (the),"POLYGON((-118.439612388611 33.9517616366508, -..."
2296,Daily,2020-09-24,1.0,Los Angeles International,78,POINT(-118.404993180627 33.941369379328),Los Angeles,California,US-CA,United States of America (the),"POLYGON((-118.439612388611 33.9517616366508, -..."
2297,Daily,2020-10-05,1.0,Los Angeles International,78,POINT(-118.404993180627 33.941369379328),Los Angeles,California,US-CA,United States of America (the),"POLYGON((-118.439612388611 33.9517616366508, -..."
2298,Daily,2020-07-30,1.0,Los Angeles International,70,POINT(-118.404993180627 33.941369379328),Los Angeles,California,US-CA,United States of America (the),"POLYGON((-118.439612388611 33.9517616366508, -..."

In [51]:
#continue removing not relevant columns
curated_airport_data = us_airport_data.loc[:,["Date","AirportName","State","PercentOfBaseline"]]
curated_airport_data.head()

            Date                AirportName       State  PercentOfBaseline
2294  2020-05-06  Los Angeles International  California                 66
2295  2020-07-04  Los Angeles International  California                 36
2296  2020-09-24  Los Angeles International  California                 78
2297  2020-10-05  Los Angeles International  California                 78
2298  2020-07-30  Los Angeles International  California                 70